body {
    background-color: #F4F1E7;
    display: grid;
    grid-template-columns: 11% 60% 11%;
    grid-column-gap: 9%;
    text-align:center;
    margin: 0;
}

#middle {
    grid-column: 2;
    grid-row: 1 / span 2;
}

/* time */
h1, h2 {
    font-family: 'Inter', sans-serif;
    color: #A99486;
    margin-top:0;
}

h1 {
    margin-bottom:0;
    font-size: 60px;
    display: inline-block;
}

h2 {
    font-size:30px;
}

#time {
    margin-top: 60px;
    font-family: Menlo;
    margin-right: 20px;
}


/* search bar */
form {
    position: relative;
}

#search-bar {
    width: 50vw;
    padding: 0.5em 3em;
    height: 40px;

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;

    background-color: #E5DBD1;
    border: none;
    border-radius: 15px;
    color: #937F78;
    box-shadow: 0px 5px 10px #6C635AB3;
}

::placeholder {
    color: #A99486;
}

#search-icon {
    position: absolute;
    left: 2em;
    top: 20%;
    height:36px;
    opacity: 40%;
}

/* snake game and notes */
.slide.snake-container {
    border: 1px solid #755F57;
    height:400px;
    width: 48em;
    background-color: #E5DBD1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1em;
}

h3 {
    font-size: 20px;
    margin-left: -10px;
}

#snake-game {
    margin: 0 auto;
}

#start-button {
    padding: 0.5em 1.5em;
    background-color: #EFE9E2;
    color: #A99486;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
}


#start-button:hover {
    background-color:  #EFE9E2;
}

#pause-button {  
    background-color: #F4F1E7;
    font-size: 2em;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 6%;
    left: 95%;
    transform: translate(-50%, -50%);
    stroke: #A994869a;
    fill: #A994869a;
    stroke-width: 2em;
}

.scores {
    text-align: left;
    flex: 2;
    margin: 1em;
    padding: 10px;
    padding-top: 20px;
    box-sizing: border-box;
}

.game-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h3 {
    font-family: 'Inter', sans-serif;
    color: #A99486;
    margin: 0 auto;
    font-weight:500;
}

.score {
    margin-bottom: 20px;
    font-size:40px;
    font-weight:400;
}

#snake-icon {
    width: 135px;
    margin-top:10px;
}



/* notes */
.slide.notepad{
    border: 1px solid #755F57;
    height:400px;
    width: 48em;
    background-color: #E5DBD1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#notes{
    text-align: left;
    font-size:13px;
    font-family: 'Inter', sans-serif;
    padding: 1em;
    height: 370px;
    width: 43em;
    overflow-y: auto;
    background-color: #F4F1E7;
    color: #856f61;
}


/* type test */
.slide.type-test {
    margin:auto;
    text-align:center;
    flex-direction: column;
    border:solid;
    padding:10px;
    height:400px;
    width: 48em;
    background-color: #E5DBD1;
    border: 1px solid #755F57;
    padding: 1em;
    position:relative;
    color: #755F57;
}

#typing-quote {
    text-align:left;
    font-family: Menlo, 'sans-serif';
    font-size: 13px;
    padding: 1em;
}

#typing-type {
    text-align:left;
    resize:none;
    height:100%;
    width: 42.25em;
    font-size: 13px;
    font-family: Menlo, 'sans-serif';
    padding: 0.75em;
    background-color: #F6F4EE;
    color: #85726B;
    overflow-y: scroll;
    margin: 0.5em auto;
    margin-top: 0;
}

#type-try-again {
    padding:3px;
    border-radius:10px;
    border: 1px solid #755F57;
    color: #937F78;
    font-size: 15px; 
    cursor:pointer;
    background-color: #F6F4EE9A;
}

#type-try-again:hover {
    background-color: #F6F4EE68;
}

#type-try-again:active {
    background-color: #F6F4EE42;

}

#topbar {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 3.5%;
    grid-row-gap:15%;
    text-align:center;
    font-size:14px;
    color: #937F78;
    margin: 5px 0;
    margin-bottom:10px;
}

.typers {
    font-family: 'Inter', sans-serif;
    padding:3px;
    border-radius:3px;
    border: 1px solid #755F57;
    background-color: #F6F4EE9A;
}

#turtle {
    width:25px;
    position: absolute;
    left: 0;
    bottom:0;
    opacity:70%
}

/* calendar gcal */
.slide.calendar {
    margin:auto;
    text-align:center;
    flex-direction: column;
    border:solid;
    height:400px;
    width: 48em;
    background-color: #E5DBD1;
    border: 1px solid #755F57;
    padding: 1em;
    color: #755F57;
}

.gcal-buttons {
    padding:5px;
    margin: 8px 2px;
    margin-top: 5px;
    border-radius:5px;
    border: 1px solid #755F57;
    color: #937F78;
    font-size: 13px; 
    cursor:pointer;
    background-color: #F6F4EE9A;
}

#gcal-signout {
    display:none;
}

.gcal-buttons:hover {
    background-color: #F6F4EE68;
}

.gcal-buttons:active {
    background-color: #F6F4EE42;
}

#no-events {
    background-color: #F4F1E7;
    padding: 1em;
    margin: 0.5em auto;
    width: 45em;
    border-radius: 12px;
    color: #937F78;
}

.event {
    width: 45em;
    border-radius: 15px;
    flex-direction: row;
    display: none;
    align-items: center;
    border: none;
    margin: 0 auto;
}

.event-date, .event-description {
    background-color: #F4F1E7;
    padding: 1.25em 0;
    margin: 8px auto;
    justify-content: center;
    flex: 1.0;
    border-radius: 10px;
    color: #A99486;
    text-align: left;
    padding-left: 1.2em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.event-date {
    visibility: visible;
    padding-right:2em;
    margin-right:1em;
}

.event-description {
    flex: 5;
    overflow-x: hidden;
    align-items: left;
}

.event-date h3 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.5em;
    padding-top: 0.5em;
}

.event-date h2 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin-top: -3px;
}

.event-description:hover, .event-description:active, .event-description:focus {
    overflow-x: auto;
}
  
.event-description::-webkit-scrollbar {
    height: 0px;
}
  

.event-description h2{
    font-size: 1.70em;
    font-family: "Inter", sans-serif;
    margin: 0;
    font-weight: 500;
}

.event-details {
    align-items: center;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    color: #A99486;
    display: flex;
}

.calendar-icon {
    width: 0.75em;
    height: 0.75em;
    background-color: #DB5F5F;
    margin-right: 10px;
    border: 0.5px solid #A99486;
}

.all-day-icon {
    display: none;
    padding-left: 2px;
    margin-top: 2px;
}

.location {
    padding-left: 10px;
    min-width: 15em;
    white-space: nowrap;
    padding-right: 10px;
}

.event-details h3 {
    margin: 0;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
    max-width: 15em;
}




/* icons */
.icon-wrapper {
    margin-bottom:5px;
}

.icon-container {
    margin: 20px 5px 0 5px;
}

.remove-button, .edit-button, .add {
    margin: 0 1px;
    background-color: #E5DBD1;
    color: #937F78;
    border: none;
    padding: 3px 8px; 
    border-radius: 5px; 
    font-size: 10px; 
    cursor:pointer;
}

.add { 
    font-size: 15px; 
}

.remove-button:hover, .edit-button:hover, .add:hover {
    background-color: #E3D8CC;
}

.remove-button:active, .edit-button:active, .add:active {
    background-color: #DACEC2;
}

.button-wrapper {
    opacity:0%;
}

.icon-wrapper:hover .button-wrapper {
    opacity:100%;
} 

.icon-name {
    margin: 0 auto;
    color: #937F78;
    padding: 2px 0;
    font-size: 10px; 
    width: 75px;
    font-family: 'Inter', sans-serif;
}

.icon-image {
    margin:0;
    width:75px;
    height:75px;
    opacity:75%;
    border-radius:10px;
    box-shadow: 0px 2px 5px #6C635A99;
}
.icon-image:hover, #prev:hover, #next:hover {
    opacity:60%;
}

.icon-image:active, #prev:active, #next:active{
    opacity:40%;
}

/* slides */
.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
}

#prev, #next {
    margin: 0 3em;
    border: none;
    outline: none;
    background-color: #F4F1E7;
    color: #A99486;
    cursor: pointer;
    transition: 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
}

.slide {
    display: none;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 10px;
    background-color: #A99486;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .dot:hover {
    background-color: #717171;
}
  



